:root {
  --black: #383636;
  --white: #dfdfdf;
  --off-white: #cbc4c4;
  --gray: #666666;
  --dark-gray: #5f5f5f;
}

html {
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: var(--gray);
  overflow: hidden;
}

.hidden {
  display: none;
}

/* Caroousel */

.carousel-container {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  /* Background pattern */
  background-image:
  /* repeating-radial-gradient(circle at top left, var(--off-white), var(--off-white), 24px, transparent 48px, transparent 24px), 
  repeating-radial-gradient(circle at bottom right, var(--off-white), var(--off-white), 24px, transparent 48px, transparent 24px); */
  repeating-radial-gradient(circle at center right, var(--off-white), var(--off-white), 20px, transparent 40px, transparent 20px);
  background-blend-mode: multiply;
  background-color: var(--gray);
}

.covers-carousel {
  list-style-type: none;
  padding: 0;
  width: 80%;
  height: 60vh;
  margin: auto;
  position: relative;
}

.covers-carousel>li {
  position: absolute;
  width: 100%;
}

.covers-carousel>li>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Bottom menu */

#bottom-container {
  padding: 1rem;
  z-index: 1100;
  background: var(--black);
  color: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#track-title {
  font-weight: bold;
  margin-top: 20px;
}

.nav-bottom {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  padding: 0;
  border: none;
  background: var(--off-white);
  transition: all 0.1s;
}

.btn:hover {
  background: var(--white);
}

.btn>img {
  width: 2rem;
  height: 2rem;
}

.big-btn {
  width: 4rem;
  height: 4rem;
}

.big-btn>img {
  width: 3.5rem;
  height: 3.5rem;
}

#show-queue {
  position: absolute;
  right: 12px;
  bottom: 8px;
  border: none;
  background: none;
  z-index: 1200;
}

/* Tracks list */

#track-list {
  padding: 0;
  list-style: none;
  padding-top: 2vh;
  border-top: 2px solid var(--gray);
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  overflow-y: auto;
  max-height: 60vh;
  border-radius: 0 0 4px 4px;
}

.track-line {
  margin-bottom: 4px;
  border-radius: 8px;
  width: 100%;
  height: 72px;
  padding: 4px;
  display: flex;
  gap: 8px;
  background-color: var(--gray);
  text-align: left;
  box-sizing: border-box;
  transition: all 0.1s;
}

.track-line:hover{
  background-color: var(--dark-gray);
}

.track-img {
  height: 100%;
  border-radius: 12px;
}

/* Ipad portrait */
@media only screen and (min-device-width : 768px) and (orientation : portrait) {
  .covers-carousel {
    width: 60%;
  }
}

/* Ipad landscape */
@media only screen and (min-device-width : 768px) and (orientation : landscape) {
  #bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 40vw;
    justify-content: center;
  }

  .carousel-container {
    width: 60vw;
    height: 100%;
    position: absolute;
    left: 40vw;
    top: 0;
    background-image: repeating-radial-gradient(circle at center right, var(--off-white), var(--off-white), 24px, transparent 48px, transparent 24px);
  }

  .covers-carousel {
    width: 70%;
  }

  #show-queue {
    display: none;
  }

  #track-list {
    margin-top: 6vh;
    padding-top: 6vh;
    position: static;
    transform: translate(0, 0);
    width: auto;
  }
}

/* Desktop */
@media only screen and (min-width : 1224px) {
  #bottom-container {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 40vw;
    justify-content: center;
  }

  .carousel-container {
    width: 60vw;
    height: 100%;
    position: absolute;
    left: 40vw;
    top: 0;
    background-image: repeating-radial-gradient(circle at center right, var(--off-white), var(--off-white), 24px, transparent 48px, transparent 24px);
  }

  .covers-carousel {
    width: 70%;
  }

  #show-queue {
    display: none;
  }

  #track-list {
    margin-top: 6vh;
    padding-top: 6vh;
    position: static;
    transform: translate(0, 0);
    width: auto;
  }
}